@font-face {
    font-family: 'nes';
    src: url('assets/fonts/prstart.ttf');
}

body, html {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0; padding: 0;
    overflow: hidden;
}

div.screenWrapper {
    width: 640px;
    height: 480px;
    position: relative;
}

div.interfaceOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: nes;
}

h3.interfaceHeader {
    text-align: center;
}

div.layer {
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

div.interfaceOverlay > div.layer {
    color: white;
}

div.columnView {
    display: flex;
}

div.columnView > div.column {
    width: 50%;
    text-align: center;
}

div.picker > div {
    display: inline-block;
    user-select: none !important;
    -webkit-user-select: none !important;
}

div.picker > div.content { width: 210px; }

div.picker > div.left, div.picker > div.right {
    cursor: pointer;
}

img.preview {
    width: 100px;
    padding: 10px;
}

.layer p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.layer input[type="text"] {
    font-family: nes;
    width: 75px;
    text-align: center;
}

#exportarea {
    font-size: 9px;
}

div.modal-layer {
    width: 420px;
    height: 350px;
    margin-top: 50px;
    margin-left: 110px;
    text-align: center;
}

/* game starts here */
/* body, html {
    width: 100%;
    height: 100%;
    background: black;
    margin: 0; padding: 0;
    overflow: hidden;
}

div.screenWrapper {
    width: 640px;
    height: 480px;
} */

/*canvas#screen {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}*/

@font-face {
    font-family: 'nes';
    src: url('assets/fonts/prstart.ttf');
}

/* debug menu styles */
div.debugMenuOverlay {
    position: fixed;
    /* display: flex; */
    display: none;
    width: 100%;
    height: 100%;
    font-family: nes;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

div.debugMenuOverlay > div.debugMenu {
    background: #000000;
    border: 4px white solid;
    padding: 10px 30px;
    font-size: 55%;
}

div.debugMenuOverlay > div.debugMenu h2 {
    text-align: center;
}

ul.debugMenuContent {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 130%;
    margin-top: 25px;
}

ul.debugMenuContent li {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.levelTestMenu {
    position: fixed;
}

.levelTestMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    background: black;
    padding: 2px;
}

.levelTestMenu li {
    margin-right: 5px;
}

.levelTestMenu a {
    color: white;
    text-decoration: none;
}